<div class="px-2 pb-3 rounded surrounding">
    {{ form_start(form) }}
    {{ form_widget(form) }}
</div>
<button class="mt-3 btn btn-success w-100">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
