{% extends 'base.html.twig' %}

{% block title 'Nouvel espace locatif' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
         <h1 class="my-5 py-1 h4 text-center card text-white bg-primary">Ajouter un nouvel espace locatif</h1>

        {{ include('rental_space/_form.html.twig') }}
        
        <div class="my-5 text-center rounded surrounding">
            <a class="surroundingLink" href="{{ path('rental_space_list') }}">Retourner au listing</a>
        </div>
        <div class="gap">
        </div>
    </div>
</div>
{% endblock %}
