/* ******************************************** */
/*                GESTION MODAL                 */
/*                   DELETE                     */
/* ******************************************** */
.modal-header {
  background-color: #dc3545;
}

.modal-title {
  color: white;
}

.redWarning {
  color: red;
  text-decoration: underline red;
  font-weight: bolder;
}