/* ******************************************** */
/*                GESTION MODAL                 */
/* ******************************************** */

/* default colors are for DELETE modals */
.modal-header {
  background-color: #dc3545;
}

.modal-title {
  color: white;
}

.redWarning {
  color: red;
  text-decoration: underline red;
  font-weight: bolder;
}