body {
  background-color: rgb(249, 220, 225);
}

/* ********************************************* */
/*               FIXED EMPTY SPACE               */
/* ********************************************* */
.gap {
  height: 7rem;
}

/* ********************************************* */
/*         EXCEPTION / FLASHBAG MESSAGES         */
/* ********************************************* */
.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;
}
  
.alert-success {
  background-color: green;
}
  
.alert-error {
  background-color: red;
}

.alert-info {
  background-color: blue;
}   

/* ********************************************* */
/*                FORM MESSAGES                  */
/* ********************************************* */
.form-error-message {
  background-color: #dc3545;
  display: inline-block;
  padding: .3em;
  font-size: .90em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-danger {
  background-color: #fff;
  color: #dc3545;
  margin-bottom: .2rem;
  padding-top: .3rem;
}

/* ********************************************* */
/*                   FORM LABEL                  */
/* ********************************************* */
label {
  margin-bottom: .2rem;
  margin-top: .5rem;
}

/* ********************************************* */
/*                FORM SURROUNDING               */
/* ********************************************* */
.surrounding {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/* unvisited link */
.surroundingLink:link {
  color: rgb(255, 250, 156);
}

/* visited link */
.surroundingLink:visited {
  color: rgb(164, 164, 255);
}

/* mouse over link */
.surroundingLink:hover {
  color: yellow;
}

/* selected link */
.surroundingLink:active {
  color: white;
}


/* ********************************************* */
/*                     MODAL                     */
/*                  ERROR BADGE                  */
/* ********************************************* */
.badge-danger-modal {
  /* background-color: #ccc; */
  color: #dc3545;
  border: solid 1px #dc3545;
  border-radius: .25rem;
  line-height: 1.1; 
}