
.gap {
  height: 7rem;
}

label {
  margin-bottom: .2rem;
  margin-top: .5rem;
}

/* ******************************************** */
/*            EXCEPTIONS MESSAGES               */
/* ******************************************** */
.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;
}
  
.alert-success {
  background-color: green;
}
  
.alert-error {
  background-color: red;
}

.alert-info {
  background-color: blue;
}   

.badge-danger {
  background-color: #dc3545;
  margin-bottom: .2rem;
  padding-top: .3rem;
}

/* ******************************************** */
/*               FORM SURROUNDING               */
/* ******************************************** */
.surrounding {
  background-color: rgba(0, 0, 0, 0.5);
  /* border-radius: 1%; */
  color: white;
}

/* unvisited link */
.surrounding a:link {
  color: rgb(240, 200, 200);
}

/* visited link */
.surrounding a:visited {
  color: rgb(240, 220, 220);
}

/* mouse over link */
.surrounding a:hover {
  color: white;
}

/* selected link */
.surrounding a:active {
  color: yellow;
}
