<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}HIBRID
			{% endblock %}
		</title>

			<link rel="stylesheet" href="assets/css/bootstrap.min.css">
			<link rel="stylesheet" href="assets/css/main.css">
		{% block stylesheets %}
		{% endblock %}

		{% block javascripts %}
			<script src="assets/js/bootstrap.bundle.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{{ include('shared/_flash_messages.html.twig') }}
		{{ include('shared/_navbar.html.twig') }}

		<main role="main" class="container">
			{% block body %}{% endblock %}
		</main>

		{% include "shared/_footer.html.twig" %}
	</body>
</html>
