        {% for label, messages in app.flashes(['success', 'error', 'info']) %}
            {% for message in messages %}
                <div role="alert" class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}