        {% for label, messages in app.flashes %}
            <div role="alert" class="alert alert-{{ label }}">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}