<footer class="footer bg-primary text-center fixed-bottom">
	<div class="p-3 container">
		<span class="text-light">
			<a class="text-light text-decoration-none" href="#"><i class="fab fa-2x fa-facebook-square"></i></a>&emsp;
			<a class="text-light text-decoration-none" href="#"><i class="fab fa-2x fa-twitter-square"></i></a>&emsp;
			<a class="text-light text-decoration-none" href="#"><i class="fab fa-2x fa-instagram-square"></i></a>&emsp;
			<a class="text-light text-decoration-none" href="#"><i class="fab fa-2x fa-youtube-square"></i></a>
			<i class="ms-5 me-3 fas fa-envelope">&nbsp;1348, Avenue de la mer - 34000 Montpellier</i>|<i class="mx-3 fas fa-at">&nbsp;Email@synerg-in.com</i>|<i class="ms-3 fas fa-phone">&nbsp;06.05.04.03.02</i>
		</span>
	</div>
</footer>
