<footer class="footer bg-primary text-center fixed-bottom">
	<div class="p-3 container">
		<span class="text-light">
			<a class="text-light text-decoration-none" href="#">
				<i class="fas fa-envelope-square"></i>Adresse&emsp;|&emsp;<i class="fas fa-at"></i>Email&emsp;|&emsp;<i class="fas fa-phone"></i>Téléphone</a>
			&copy;
		</span>
	</div>
</footer>
