<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
		<a class="navbar-brand" href="{{ path('homepage') }}">
			<img src="/assets/img/LOGO_SYNERGIN.png" alt="logo SYNERG-IN" width="60" height="60">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Évènement pro</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Worklab</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Cahutes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Voir les disponibilités</a>
				</li>
			</ul> {# end of 'navbar-nav' #}
			<ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item"><a href="{{ path("security_logout") }}" class="btn btn-danger">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="#" class="nav-link">Inscription</a></li>
                    <li class="nav-item"><a href="{{ path("security_login") }}" class="btn btn-success">Login</a></li>
                {% endif %}
			</ul> {# end of 'navbar-nav' #}
		</div> {# end of 'navbar-collapse' #}
	</div>
</nav>
