{% extends 'base.html.twig' %}

{% block title 'Accès interdit' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('homepage') }}assets/js/randomBackground.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="mt-5 mb-3 py-1 h4 text-center card text-white bg-primary">Accès interdit</h1>
        <div class="px-2 text-center rounded surrounding">
            <p class="h4 pt-2 text-white">Vous n'êtes pas autorisé(e) à accéder à cette page !</p>
            <p>Le serveur à renvoyé une erreur « 403 Forbidden »</p>
            <p class="pb-3"><a class="surroundingLink" href="{{ path('homepage') }}">Retourner à la page d'accueil</a></p>
        </div>
    </div>
</div>
{% endblock %}
